<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
	<script>
		$(document).ready(function(){
			
		});
		
	</script>


<body>
	<form action="/ServerProgram/login.do">
		<h1>회원 관리 프로그램</h1>
		<input type="text" name="id">
		<input type="text" name="name">
		<button>로그인</button>
		<a href="/ServerProgram/joinForm.do">회원가입</a>
	</form>
</body>
</html>
